.main{
    min-height: 100vh;
    padding-bottom: 10px;
    flex:1;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color:#585858;
}

.main .nav img{
    border-radius: 50%;
    width: 40px;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 30px 0px;
    font-size: 50px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(24deg, rgb(29, 120, 224), rgb(228, 57, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap:20px;
    padding:10px;
    max-height: 70vh;
}

.main .card{
    height: 180px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    position: absolute;
    width:40px;
    padding: 10px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color:#585858;
    font-size: 18px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin:auto;
    bottom: 0;
}

.search-box{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: #f0f4f9;
    border-radius:30px;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.search-box input{
    flex:1;
    height: 100%;
    border: none;
    background:transparent;
    font-size: 18px;
    outline: none;
    padding: 8px;
}
.search-box div{
    display: flex;
    gap:10px;
    align-items: center;
}


.search-box img{
    width:40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
}
.search-box img:hover{
    background-color: #dfe4ea;
}

.main .bottom-info{
    text-align: center;
    font-size: 13px;
    margin: 15px auto;
    font-weight: 300;
}


.result{
    padding: 0 20px;
    overflow-y: scroll;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
}

.result::-webkit-scrollbar{
    display: none;
}

.result .result-title{
    display: inline-flex;
    gap:20px;
    align-items: center;
    margin: 30px 0px;
}

.result img{
    width: 40px;
    border-radius: 50%;
}

.result .result-title p{
    background-color: #eaecf1;
    border-radius: 10px;
    padding: 10px;
}

.result-data{
    display: inline-flex;
    gap:20px;
}

.result-data img{
    width:40px;
    height: 40px;
}


.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.loader hr{
    border-radius: 40px;
    border: none;
    /* background-color: #f6f7f8; */
    background: linear-gradient(to right, #9ed7ff, #fcfcfce4, #9ed7ff);
    background-size: 800px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}


.result-data p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
}